/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


# <?php

# use Illuminate\Database\Migrations\Migration;
# use Illuminate\Database\Schema\Blueprint;
# use Illuminate\Support\Facades\Schema;

# class CreateAddBranchesTable extends Migration
# {
#     public function up()
#     {
#         Schema::create('add_branches', function (Blueprint $table) {
#             $table->id();
#             $table->string('branch_name');
#             $table->string('contact_number');
#             $table->string('alternate_number')->nullable();
#             $table->string('address');
#             $table->string('password');
#             $table->string('logo')->nullable();
#             $table->foreignId('clinicadmin_id')->constrained('clinic_admins')->onDelete('cascade');
#             $table->timestamps();
#         });
#     }

#     public function down()
#     {
#         Schema::dropIfExists('add_branches');
#     }
# }

